body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.avatar {
    width: 200px;
    border-radius: 30px;
    box-shadow: 5px 10px 18px #888888;
}

.card {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #cad2c5;
    border-radius: 30px;
    color: #354f52;
    
    box-shadow: 5px 10px 18px #888888;
    }

    .card:hover {
        color: #eb5e28;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}5px 10px 18px #888888

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

